<%- include('partials/header'); %>
<script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<!-- <script src="../assets/js/email.js"></script> -->
<script src="../assets/js/emailjs.js"></script>
        <main class="container-lg grid">
                <section class="middle-text-small spacing-bot-small">
                        <div class="container-sm">
                                <h2>Geef ons uw feedback</h2>
                                <br>
                                <br>
                                <nav>
                                        <div class="tab-feedback-button nav nav-tabs" id="nav-tab" role="tablist">
                                          <button class="nav-link active" id="nav-feedback-tab" data-bs-toggle="tab" data-bs-target="#nav-feedback" type="button" role="tab" aria-controls="nav-feedback" aria-selected="true">
                                                                      Feedback
                                                                  </button>
                                          <button class="nav-link" id="nav-feedback-ano-tab" data-bs-toggle="tab" data-bs-target="#nav-feedback-ano" type="button" role="tab" aria-controls="nav-feedback-ano" aria-selected="false">
                                                                      Anonieme Feedback
                                                                  </button>
                                        </div>
                                      </nav>
                                      <br>
                                      <div class="tab-content" id="nav-tabContent">
                                        <div class="tab-pane fade show active" id="nav-feedback" role="tabpanel" aria-labelledby="nav-feedback-tab">
                                                <form class="feedback-form row" id="feedback-form-complete" method="POST">
                                                        <div class="mb-4">
                                                                <label for="paginaformcontrol" class="form-label">Kies een
                                                                        pagina</label>
                                                                <select class="form-select" id="pagina" aria-label="Kies een pagina" name="pagina">
                                                                        <option selected>Open om te kiezen</option>
                                                                        <option value="Homepage">Homepage</option>
                                                                        <option value="Generator">Generator</option>
                                                                        <option value="Generator">Feedback</option>
                                                                        <option value="Anders">Anders...</option>
                                                                </select>
                                                        </div>
                                                        <div class="mb-4">
                                                                <label for="emailformcontrol" class="form-label">Email address</label>
                                                                <input type="email" class="form-control" id="emailinput"
                                                                        placeholder="naam@voorbeeld.nl" name="email">
                                                        </div>
                                                        <div class="mb-4">
                                                                <label for="nameformcontrol" class="form-label">Naam</label>
                                                                <input type="text" class="form-control" id="nameinput"
                                                                        placeholder="Voornaam en achternaam" name="naam">
                                                        </div>
                                                        <div class="mb-4">
                                                                <label for="textformcontrol" class="form-label">Uw feedback</label>
                                                                <textarea class="form-control" id="feedbackmessage"
                                                                        rows="3" name="feedback"></textarea>
                                                        </div>
                                                        <div class="col-12">
                                                                <button onclick="sendMail()" type="submit" class="btn btn-primary">Verzend</button>
                                                              </div>
                                                </form>
                                        </div>
                                        <div class="tab-pane fade" id="nav-feedback-ano" role="tabpanel" aria-labelledby="nav-feedback-ano-tab">
                                                <form class="feedback-form row" id="feedback-ano-form-complete" method="POST">
                                                        <div class="mb-4">
                                                                <label for="paginaformcontrol" class="form-label">Kies een
                                                                        pagina</label>
                                                                <select class="form-select" id="pagina-ano" aria-label="Kies een pagina" name="pagina">
                                                                        <option selected>Open om te kiezen</option>
                                                                        <option value="Homepage">Homepage</option>
                                                                        <option value="Generator">Generator</option>
                                                                        <option value="Generator">Feedback</option>
                                                                        <option value="Anders">Anders...</option>
                                                                </select>
                                                        </div>
                                                        <div class="mb-4">
                                                                <label for="textformcontrol" class="form-label">Uw feedback</label>
                                                                <textarea class="form-control" id="feedbackmessage-ano"
                                                                        rows="3" name="feedback"></textarea>
                                                        </div>
                                                        <div class="col-12">
                                                                <button onclick="sendMailano()" type="submit" class="btn btn-primary">Verzend</button>
                                                              </div>
                                                </form>
                                                <br>
                                                <br>
                                                <br>
                                                <br>
                                        </div>
                                      </div>
                                    </div>
                </section>
                <%- include('partials/footer'); %>