<%- include('partials/header'); %>
        <main class="container-lg grid">
                <section class="middle-text spacing-bot">
                        <div class="container-sm">
                                <h2 class="middle-text-title">Nog in de maak..</h2>
                                <p class="middle-text-lower">Binnenkort kunt u ons feedback geven over de generator.</p>
                                <a href="/"><button class="button-custom title-btn" role="button">Home pagina</button></a>
                                <br>
                                <br>
                                <br>
                                <br>
                </section>
                <%- include('partials/footer'); %>