<%- include('partials/header'); %>
    <div class="container-sm">
        <div class="middle-text">
            <h2 class="middle-text-title-gen">Wie ben je?</h2>
            <br>
            <div class="input-group mb-3 input-group-custom">
                <input type="text" class="form-control" placeholder="Volledige naam" aria-label="Volledige naam"
                    aria-describedby="information">
                <div class="input-group-append">
                    <button type="button" class="btn btn-secondary next-btn">---></button>
                </div>
            </div>
        </div>
    </div>
<%- include('partials/footer'); %>