<%- include('partials/header'); %>
<main class="container-lg">
<section class="container-sm middle-text spacing-bot">
        <h2 class="middle-text-title">De CV Generator</h2>
        <p class="middle-text-lower">Maak hier uw eigen professionele CV. Het is snel, gemakkelijk en gratis te downloaden.</p>
        <a href="/generator"><button type="button" class="btn btn-primary btn-lg title-btn">Begin hier</button></a> 
</section>
<section class="container-sm second-section middle-text spacing-bot">
        <h2 class="middle-text-title">Hoe werkt het?</h2>
        <p class="middle-text-lower">Maak hier uw eigen professionele CV. Het is snel, gemakkelijk en gratis te downloaden.</p>
        <a href="/generator"><button type="button" class="btn btn-primary btn-lg title-btn">Begin hier</button></a> 
</section>
<%- include('partials/footer'); %>