<%- include('partials/header'); %>

<div class="middle-text spacing-bot">
        <h2 class="middle-text-title">CV Generator</h2>
        <a href="/generator"><button type="button" class="btn btn-primary btn-lg title-btn">Begin hier</button></a> 
</div>
<%- include('partials/footer'); %>