<%- include('partials/header'); %>

<div class="middle-text">
        <h2>CV Generator</h2>
        <button type="button" class="btn btn-outline-primary">Begin hier</button>
</div>
<%- include('partials/footer'); %>