<%- include('partials/header'); %>
        <main class="container-lg grid">
                <section class="middle-text-small spacing-bot-small">
                        <div class="container">
                                <h2 class="middle-text-title">Kies een template</h2>
                                <p class="middle-text-lower">Kies hieronder een opzetje om mee te beginnen.</p>
                                <hr>
                                <br>
                                <div class="row">
                                        <div class="col">
                                                <a href="generator"><img class="template-imgs"
                                                                src="../assets/img/template1.png"
                                                                alt="Eerste Template"
                                                                style="width:300px;height:340px;"></a>
                                        </div>
                                        <div class="col">
                                                <a href="generator2"><img class="template-imgs"
                                                                src="../assets/img/template2.png"
                                                                alt="Tweede Template"
                                                                style="width:300px;height:340px;"></a>
                                        </div>
                                        <div class="col">
                                                <a href="generator3"><img class="template-imgs"
                                                                src="../assets/img/placeholder.png"
                                                                alt="Derde Template"
                                                                style="width:300px;height:340px;"></a>
                                        </div>
                                </div>
                </section>
                <%- include('partials/footer'); %>