<%- include('partials/header'); %>
        <main class="container-lg grid">
                <section class="middle-text-small spacing-bot-small">
                        <div class="container-sm">
                                <h2 class="middle-text-title">Kies een template</h2>
                                <p class="middle-text-lower">Kies hieronder een opzetje om mee te beginnen.</p>
                                <br>
                                <div class="row">
                                        <div class="col">
                                                <a href="generator"><img
                                                                src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500-300x300.jpg"
                                                                alt="Eerste Template"
                                                                style="width:250px;height:300px;"></a>
                                        </div>
                                        <div class="col">
                                                <a href="generator2"><img
                                                                src="https://mtek3d.com/wp-content/uploads/2018/01/image-placeholder-500x500-300x300.jpg"
                                                                alt="Eerste Template"
                                                                style="width:250px;height:300px;"></a>
                                        </div>
                                </div>
                                <p class="middle-text-lower text-danger">De templates zijn nog niet af. Ze zijn nu in de maak. 
                                        <br>Je kan ze wel alvast uitproberen</p>
                </section>
                <%- include('partials/footer'); %>