/* globals */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); /* default */

:root {
    /* --main-color: #DAFFFB; */
    --main-color: #e6e6e6;
    --second-color: #176B87;
    --third-color: #04364A;
    --fourth-color: #64CCC5;
    --section-color: #ededed;
    --section-dark: #252525;
    --text-main: #646464;
    --text-main-dark: #000000;
    --clr-blue: #1A91F0;
    --clr-blue-mid: #1170CD;
    --clr-blue-dark: #1A1C6A;
    --clr-white: #fff;
    --clr-bright: #EFF2F9;
    --clr-dark: #1e2532;
    --clr-black: #000;
    --clr-grey: #656e83;
    --clr-green: #084C41;
    --font-poppins: 'Poppins', sans-serif;
    --font-manrope: 'Manrope', sans-serif;
    --transition: all 300ms ease-in-out;
}

html,
body {
    height: 100%;
    /* font-family: 'Tilt Neon', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

/* header */

body {
    background-color: var(--main-color);
}

.navbar {
    background-color: var(--main-color) !important;
}

.navbar-nav {
    margin-left: auto;
}

.nav-title {
    font-size: 25px;
    padding: 0;
    color: var(--text-main);
}

.nav-text {
    font-size: 20px;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--text-main);
}

.nav-title:hover,
.nav-text:hover {
    color: var(--text-main-dark);
}

.active-light {
    color: var(--text-main-dark);
}

.disabled-light {
    color: #51515172;
}

.disabled-light:hover {
    color: #4b4b4b72;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: #FFFF00;
    color: #FFC0CB;
}

/* main */

/* first section */
.middle-text {
    margin: auto;
    text-align: center;
    padding: 220px 0;
    /* height */
}

.middle-text-small {
    margin: auto;
    text-align: center;
    padding: 120px 0;
    /* height */
}

.middle-text-title {
    font-size: 50px;
}

.middle-text-lower {
    color: rgba(95, 95, 95, 0.664);
    font-size: 20px;
}

.middle-text-title-gen {
    font-size: 40px;
}

.title-btn {
    background-color: var(--second-color);
    border-color: var(--third-color);
}

.title-btn:hover {
    background-color: var(--third-color);
    border-color: black;
}

.next-btn {
    background-color: var(--second-color);
}

.next-btn:hover {
    background-color: var(--third-color);
}

.container-sm {
    max-width: 700px;
}

.input-group-custom,
.next-btn {
    height: 50px;
}

.spacing-bot {
    margin-bottom: 38px;
}

.spacing-bot-small {
    margin-bottom: 8px;
}

/* CSS */
.button-custom {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-custom:focus {
  color: #171e29;
}

.button-custom:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.button-custom:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-custom {
    min-width: 170px;
  }
}

/* << slider difference >> */

split-view {
    width: 600px;
    height: 400px;
    margin: auto;
}

/* second section */
.second-section {
    width: 99.5vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-top: -38px;
    margin-left: -50vw;
    margin-right: -50vw;
    display: inline-block;
    background-color: var(--section-color);
}

.card-custom {
    border: none;
}

.card-body-custom {
    background-color: var(--section-color);
}

.card-title-custom {
    color: var(--text-main-dark);
    font-size: 22px;
}

.card-text-custom {
    color: var(--text-main);
    font-size: 18px;
}

/* third section */

.third-section {
    width: 99.5vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-top: -38px;
    display: block;
    background-color: var(--section-dark);
}

.title-dark-custom {
    color: #e7e7e7;
}

.text-dark-custom {
    color: #dadada;
}

/* footer */

footer {
    background-color: var(--second-color);
}

.copyright {
    background-color: var(--third-color);
}

.text-footer {
    color: var(--main-color);
}

/* Generator page */
.tab-rounded-top {
    border-radius: 25px 25px 0 0;
}

.tab-rounded-bottom {
    border-radius: 0 0 25px 25px;
}

.spaces-gen-page {
    margin-top: 64px;
}

.cv-form-row-title {
    background-color: var(--second-color);
    padding: 0.8rem 1.6rem;
    /* margin-bottom: 2rem; */ /* spacing van section titel */
}

.cv-form-row-title h3 {
    color: var(--clr-white);
    font-weight: 500;
    letter-spacing: 1.5px;
    font-size: 1.7rem;
    line-height: normal;
}

.cv-form-blk {
    margin: 3rem 0;
}

.cv-form-row {
    padding: 3rem 2rem 0 2rem;
    border: 1px solid rgba(0, 0, 0, 0.08);
    margin-bottom: 1rem;
    position: relative;
    background-color: white;
}

textarea {
    resize: none;
}

.form-elem {
    margin-bottom: 3rem;
    position: relative;
}

.form-label {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: var(--clr-dark);
    margin-bottom: 0.5rem;
}

.form-control {
    border-radius: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding: 0.8rem 1.6rem;
    font-family: inherit;
    width: 100%;
    outline: 0;
    transition: var(--transition);
}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.3);
}

.form-text {
    color: #ca0b00;
    font-size: 12px;
    position: absolute;
    letter-spacing: 0.5px;
    top: calc(100% + 2px);
    left: 0;
    width: 100%;
}

.cols-3,
.cols-2 {
    display: grid;
}

.repeater-add-btn {
    /* width: 25px;
    height: 25px; */
    background-color: var(--clr-blue-mid);
    /* font-size: 1.6rem; */
    color: var(--clr-white);
    /* margin: 1rem 0; */
}

.repeater-remove-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ca0b00;
    color: var(--clr-white);
    /* font-size: 1.6rem; */
}

.templates {
    margin-top: -64px;
}

/* template 1 */
@import "template1.css";
/* @import url("/public/assets/css/template1.css"); */

/* template 2 */
@import "template2.css";

/* feedback page */

.feedback-form {
    text-align: left;
}

.tab-feedback-button {
    --bs-nav-tabs-link-active-bg: #dcdcdc;
    --bs-nav-link-color: var(--text-main);
    --bs-nav-link-hover-color: var(--text-main-dark);
    --bs-nav-tabs-border-width: var(--bs-border-width);
    --bs-nav-tabs-border-color: var(--second-color);
    --bs-nav-tabs-border-radius: var(--bs-border-radius);
    --bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-secondary-bg) var(--third-color);
    --bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-border-color) var(--third-color);
}

@media screen and (max-width: 991px) {
    /* navbar fix coming */
}