</main>
<footer class="footer text-center text-white mt-4">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <div class="mb-4">
      <!-- Mail -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="mailto:info@people-business.nl" role="button"
        data-mdb-ripple-color="dark">
        <i class="bi bi-envelope-fill"></i>
      </a>
      <!-- Website -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://people-business.nl/" role="button"
        data-mdb-ripple-color="dark">
        <i class="bi bi-browser-safari"></i>
      </a>
      <!-- Linkedin -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/company/people-business-b.v./" role="button" data-mdb-ripple-color="dark">
        <i class="bi bi-linkedin"></i></a>
    </div>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="copyright text-center text-footer p-3">
    © 2024 Copyright:
    <a class="text-footer" href="https://people-business.nl/">People Business</a>
  </div>
  <!-- Copyright -->
</footer>
<script src="../../assets/js/jquery.repeater.js"></script>
<script src="../../assets/js/main.js"></script>
<script src="../../assets/js/generator.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
</body>

</html>