</main>
<footer class="text-center text-white mt-auto">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Mail -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="mailto:info@people-business.nl" role="button"
        data-mdb-ripple-color="dark">
        <i class="bi bi-envelope-fill"></i>
      </a>
      <!-- Website -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://people-business.nl/" role="button"
        data-mdb-ripple-color="dark">
        <i class="bi bi-browser-safari"></i>
      </a>
      <!-- Linkedin -->
      <a class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.linkedin.com/company/people-business-b.v./" role="button" data-mdb-ripple-color="dark">
        <i class="bi bi-linkedin"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="copyright text-center text-footer p-3">
    © 2023 Copyright:
    <a class="text-footer" href="https://people-business.nl/">People Business</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- jquery cdn -->
<!-- <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
  crossorigin="anonymous"></script> -->
<!-- jquery repeater cdn -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.js"
  integrity="sha512-bZAXvpVfp1+9AUHQzekEZaXclsgSlAeEnMJ6LfFAvjqYUVZfcuVXeQoN5LhD7Uw0Jy4NCY9q3kbdEXbwhZUmUQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="/public/assets/js/bootstrap.bundle.min.js"></script>
<script src="/public/assets/js/jquery.js"></script>
<script src="/public/assets/js/jquery.repeater.min.js"></script>
<script src="../../assets/js/main.js"></script>
<script src="../../assets/js/generator.js"></script>
</body>

</html>