<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Business - CV Generator</title>
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
</head>
<body>
    <header>
        <nav class="navbar py-4 navbar-expand-lg bg-light">
            <div class="container">
              <a class="navbar-brand nav-title" href="#">People Business</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link active-light nav-text" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="#">Voorwaarden</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="https://www.people-business.nl/#Contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled-light nav-text">Sign up</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>