<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>People Business - CV Generator</title>
    <link rel="stylesheet" href="/public/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/assets/css/bootstrap-icons.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
			integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer">
    </script>
    <script src="/public/assets/js/jquery.js"></script>
    <script src="/public/assets/js/bootstrap.bundle.min.js"></script>
    <script>
      $(document).ready(function() { // tooltips for bootstrap
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
    });
  </script>
</head>
<body>
    <header>
        <nav class="navbar py-4 navbar-expand-lg bg-light">
            <div class="container">
              <a class="navbar-brand" href="/">
                <img src="../../assets/img/logo2.png" alt="People Business" width="40" height="40">
              </a>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link nav-text" aria-current="page" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="templates">Generator</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="feedback">Feedback</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-text" href="https://people-business.nl/contact">Contact</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled-light nav-text">Sign up</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>