<link rel="stylesheet" href="../assets/css/template3.css">
<section id="preview-sc" class="print_area">
    <div id="div-to-print-pdf">
        <div id="top-section-template">
            <div class="preview-item preview-item-name name-over-img">
                <span class="preview-item-val fw-6" id="fullname_dsp"></span>
            </div>
            <div id="preview-blk-designation">
                <div class="preview-item space-bot">
                    <span class="preview-item-val text-uppercase fw-6 ls-1" id="designation_dsp"></span>
                </div>
            </div>
        <div class="preview-cnt">
            <div class="preview-cnt-l">
                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>Over mij</h3>
                    </div>
                        <div class="text-area">
                        <span class="preview-item-val" id="summary_dsp"></span>
                    </div>
                    <br>
                    <div class="preview-blk-title">
                        <h3>Behaalde Doelen</h3>
                    </div>
                    <div class="achievements-items preview-blk-list" id="achievements_dsp"></div>
                    <br>
                    <div class="preview-blk-title">
                        <h3>onderwijs</h3>
                    </div>
                    <div class="educations-items preview-blk-list" id="educations_dsp"></div>
                    <br>
                    <div class="preview-blk-title">
                        <h3>werk ervaring</h3>
                    </div>
                    <div class="experiences-items preview-blk-list" id="experiences_dsp"></div>
                    <br>
                    <div class="preview-blk-title">
                        <h3>projecten</h3>
                    </div>
                    <div class="text-area">
                    <div class="projects-items preview-blk-list" id="projects_dsp"></div>
                </div>
                <br>
                </div>
                <br>
                <p class="generator-brand-l"><img src="../../assets/img/icons/icon.png" alt="People Business" width="11" height="11"> People Business</p> 
            </div>

            <div class="preview-cnt-r">
                <div class="preview-blk">
                    <div class="preview-image">
                        <img src="" alt="" id="image_dsp">
                    </div>
                    <br>
                    <div class="preview-blk-title">
                        <h3>Contact me at</h3>
                    </div>
                    <div class="preview-blk-list space-bot">
                        <div class="preview-item">
                            <i class="bi bi-telephone-fill space-r"></i>&nbsp;<span class="preview-item-val" id="phoneno_dsp"></span>
                        </div>
                        <div class="preview-item">
                            <i class="bi bi-envelope-fill space-r"></i>&nbsp;<span class="preview-item-val" id="email_dsp"></span>
                        </div>
                        <div class="preview-item">
                            <i class="bi bi-geo-alt-fill space-r"></i>&nbsp;<span class="preview-item-val" id="address_dsp"></span>
                        </div>
                        
                    </div>
                </div>

                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>skills</h3>
                    </div>
                    <div class="skills-items preview-blk-list" id="skills_dsp">
                        <!-- skills list here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>