<link rel="stylesheet" href="../assets/css/template1.css">
<section id="preview-sc" class="print_area">
    <div id="div-to-print-pdf">
        <div class="preview-cnt">
            <div class="preview-cnt-l bg-green text-white change-to-red">
                <div class="preview-blk">
                    <div class="preview-image">
                        <img src="" alt="" id="image_dsp">
                    </div>
                    <div class="preview-item preview-item-name">
                        <span class="preview-item-val fw-6" id="fullname_dsp"></span>
                    </div>
                    <div class="preview-item">
                        <span class="preview-item-val text-uppercase fw-6 ls-1" id="designation_dsp"></span>
                    </div>
                </div>

                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>over mij</h3>
                    </div>
                    <div class="preview-blk-list">
                        <div class="preview-item">
                            <span class="preview-item-val" id="phoneno_dsp"></span>
                        </div>
                        <div class="preview-item">
                            <span class="preview-item-val" id="email_dsp"></span>
                        </div>
                        <div class="preview-item">
                            <span class="preview-item-val" id="address_dsp"></span>
                        </div>
                        <div class="preview-item">
                            <span class="preview-item-val" id="summary_dsp"></span>
                        </div>
                    </div>
                </div>

                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>skills</h3>
                    </div>
                    <div class="skills-items preview-blk-list" id="skills_dsp">
                        <!-- skills list here -->
                    </div>
                </div>
            </div>

            <div class="preview-cnt-r bg-white">
                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>Behaalde Doelen</h3>
                    </div>
                    <div class="achievements-items preview-blk-list" id="achievements_dsp"></div>
                </div>

                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>onderwijs</h3>
                    </div>
                    <div class="educations-items preview-blk-list" id="educations_dsp"></div>
                </div>

                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>ervaring</h3>
                    </div>
                    <div class="experiences-items preview-blk-list" id="experiences_dsp"></div>
                </div>

                <div class="preview-blk">
                    <div class="preview-blk-title">
                        <h3>projecten</h3>
                    </div>
                    <div class="projects-items preview-blk-list" id="projects_dsp"></div>
                </div>
                <p class="generator-brand-r"><img src="../../assets/img/icons/icon.png" alt="People Business" width="11" height="11"> People Business</p> 
            </div>
        </div>
    </div>
</section>
<br>
    <div class="row">
        <div class="col col-lg-4">
            <p class="select-text">Verander het lettertype:</p>
            <select id="font-choose" class="form-select" aria-label="Kies een lettertype">
                <option value="btnFontDefault" Selected>Standaard</option>
                <option value="btnFontRoboto">Roboto</option>
                <option value="btnFontRaleway">Raleway</option>
                <option value="btnFontRobotoSlab">Roboto Slab</option>
            </select>
        </div>
        <div class="col col-lg-4">
            <p class="select-text">Verander de kleur:</p>
            <select id="color-choose" class="form-select" aria-label="Kies een kleur">
                <option value="btnBlue" Selected>Standaard</option>
                <option value="btnGrey">Grijs</option>
                <option value="btnGreen">Groen</option>
                <option value="btnRed">Rood</option>
            </select>
        </div>
    </div>
<!-- <button class="btn btn-secondary btn-lg" onclick="btnRed();">Verander naar rood</button>
<button class="btn btn-secondary btn-lg" onclick="btnBlue();">Verander naar blauw </button>
<button class="btn btn-secondary btn-lg" onclick="btnFont();">Verander lettertype </button> -->
